nav {
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 20px;
  text-transform: uppercase;
  background: white;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  box-shadow: 0px 21px 17px -24px rgba(130, 217, 218, 0.81);

  .loader {
    margin-left: 20px;
  }

  .logo-loader-div {
    display: flex;
    align-items: center;
  }

  .logo {
    height: 70px;
  }

  .primary-nav {
    display: flex;

    .active {
      text-decoration: none;
    }

    i {
      margin: 0 15px;
      color: #aaefc8;
      font-size: 2.6rem;

      &:hover {
        color: #5987e5;
        cursor: pointer;
      }
    }
  }
}
