nav {
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 20px;
  text-transform: uppercase;
  background: white;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);

  a:hover,
  i:hover {
    color: teal;
    cursor: pointer;
  }
  .loader {
    margin-left: 20px;
  }

  .logo-loader-div {
    display: flex;
    align-items: center;
  }

  .logo {
    height: 70px;
  }

  .primary-nav {
    display: flex;
  }

  .active {
    text-decoration: none;
    color: teal;
  }
}
