.buttons {
  position: fixed;
  bottom: 3%;
  left: 3%;
  .add-button {
    background: #4e6d79;
    color: white;
    margin: 10px;

    &:hover {
      background: #e75449;
      color: #4e6d79;
    }
  }
}
