.form-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.activity-form {
  display: flex;
  flex-direction: column;
  width: 400px;

  input {
    border: none;
    border-bottom: 1px solid #1e9df7;
    background: #fafafa;
    margin: 10px 0;
    padding: 5px;
    font-size: 1.6rem;
    font-weight: 500;

    &:focus {
      outline: none;
    }
  }

  button {
    margin-top: 20px;
    padding: 10px 0;
    background: transparent;
    border-radius: 3px;

    &:focus {
      outline: none;
    }
  }
  .MuiInputBase-root-47 {
    border: 1px solid #1e9df7;
  }
}
