@import './libs/reset';
@import './libs/global';
@import './libs/variables';
@import './libs/mixins';
@import './Navigation';

.home-display {
  display: flex;
  justify-content: space-between;
  margin-left: calc((100vw / 2) - (300px / 2 ) - (600px / 2) - 20px);
  // max-width: 1000px;
  // margin: auto;
}

.sidebar-fixed {
  position: relative;

  .sidebar {
    // position: fixed;
    // left: 5%;
    width: 300px;
    padding-top: 100px;

    .box {
      height: 150px;
      background: white;
      border: 1px solid #7c7c7c;
      border-radius: 3px;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
      margin-bottom: 20px;

      h5 {
        font-weight: 700;
        font-size: 14px;
        padding: 15px;
      }

      p {
        padding: 15px;
        font-size: 14px;
      }
    }

    hr {
      width: 180px;
    }

    .calendar {
      height: 200px;
      margin-top: 20px;
    }
  }
}
