.loader-div {
  display: flex;
  justify-content: center;
  margin-top: 45%;
}

.activity-card {
  width: 600px;
  margin: 20px auto;
  border: 1px solid #2b3039;
  border-radius: 3px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  background: white;

  .title-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 35px 15px 35px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
  }

  .ratings {
    display: flex;
    justify-content: space-around;
  }

  .rating-titles {
    text-transform: uppercase;

    p {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }

  .rating-numbers {
    p {
      font-size: 2.4rem;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    margin: 10px 50px;
  }
}
