@import './libs/variables';

.loader-div {
  display: flex;
  justify-content: center;
  margin-top: 45%;
}

.feed {
  overflow-y: scroll;
  min-height: calc(100vh - 70px);
  margin-left: 30px;
  margin-top: 70px;
  padding-top: 30px;
  width: 100%;

  @media screen and (max-width: 1100px) {
    margin: auto;
  } 

  .search-input {
    max-width: $inputMaxWidth;
    width: 90%;
    text-align: center;
    border: none;
    border-bottom: 1px solid #6868f6;
    background: #fafafa;
    padding: 5px;
    font-size: 1.6rem;
    font-weight: 500;
    display: block;

    &:focus {
      outline: none;
    }

    @media screen and (max-width: 1100px) {
      max-width: 500px;
      margin: auto;
    }

    @media screen and (max-width: 650px) {
      margin: auto;
      width: 90%;
    }
  }

  .card {
    max-width: 600px;
    height: 200px;
    margin: 20px 0;
    border: 1px solid #6868f6;
    border-radius: 8px;
    box-shadow: 0px 9px 20px -9px rgba(104, 104, 246, 0.45);
    background: white;
    position: relative;
    width: 90%;

    @media screen and (max-width: 1100px) {
      margin: auto;
    } 

    &:after {
      content: '';
      background-color: #6868f6;
      position: absolute;
      width: 1px;
      height: 22px;
      top: -22px;
      left: 50%;
    }

    .title-date {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 25px 35px 15px 35px;
      padding-bottom: 10px;
      border-bottom: 1px solid lightgray;

      .date {
        margin-top: -15px;
        padding: 15px 10px;
        font-size: 1.5rem;
        font-weight: 300;
      }
    }

    .reflection-summary {
      margin: 0 20px;
      p {
        font-size: 1.4rem;
        font-weight: 500;
      }
    }

    .ratings {
      display: flex;
      justify-content: space-around;
    }

    .rating-titles {
      text-transform: uppercase;

      p {
        font-size: 1.2rem;
        font-weight: 500;
        margin-left: -5px;
      }
    }

    .rating-numbers {
      p {
        font-size: 2.4rem;
      }
    }

    .fas {
      font-size: 2.2rem;
      position: relative;
      left: 48.2%;
      z-index: 2;

      &:hover {
        cursor: pointer;
      }
    }

    .fa-times {
      left: 48.8%;
      margin-bottom: 5px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  // action card button styles start here
  .hide-card-button {
    display: none;
  }

  .card-buttons-on-hover {
    width: 598px;
    height: 178px;
    background: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 1;

    .delete:hover {
      background: #e75449;
      color: white;
      cursor: pointer;
    }

    .edit:hover {
      background: #56d8ea;
      color: white;
      cursor: pointer;
    }

    button {
      font-size: 1.5rem;
      font-weight: 600;
      padding: 10px 0;
      background: white;
      border-radius: 3px;
      width: 200px;
      opacity: 1;
      z-index: 2;

      &:focus {
        outline: none;
      }
    }
  }
}
