.reflection-form-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  // width: 80%;

  .reflection-progress {
    .active {
      color: black;
    }

    h3 {
      margin: 50px 0;
      color: lightgrey;
    }
  }
}

.reflection-form {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  width: 600px;

  textarea {
    border: none;
    border: 1px solid grey;
    background: #fafafa;
    margin: 10px 0;
    padding: 5px;
    font-size: 1.6rem;
    font-weight: 500;

    &:focus {
      outline: none;
    }
  }

  button {
    margin-top: 20px;
    padding: 10px 0;
    background: transparent;
    border-radius: 3px;

    &:focus {
      outline: none;
    }
  }
}
